.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 1em;
}

.book {
    height: 2em;
    width: 20em;
    border: solid 3px red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0em 1em;
    color: white;
}

.book button {
    font-family: cursive;
    font-size: 14px;
    padding:  .3rem .6rem;
    border: none;
    border-radius: 5px;
}

.new-book {
    background-color: blue;
    border: none;
    padding: 1em 2em;
    color: white;
    font: 20px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

dialog {
    width: max(40%, 400px);
}

form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

form button {
    margin-bottom: 1em;
}

